<nav>
  <div class="logo">
    <h4>BRAND</h4>
  </div>
  <ul class="navbar">
    <!-- Home -->
    <li>
      <a href="#" class="nav__links">
        <span class="material-icons">home</span>Home
      </a>
    </li>

    <!-- Dashboard -->
    <li>
      <a href="#" class="nav__links">
        <span class="material-icons">dashboard</span>Dashboard
      </a>
    </li>

    <!-- Settings -->
    <li>
      <a href="#" class="nav__links">
        <span class="material-icons">settings</span>Settings
      </a>
    </li>

    <!-- Login -->
    <li>
      <a href="#" class="nav__links">
        <span class="material-icons">exit_to_app</span>Login
      </a>
    </li>
  </ul>

  <!-- Burger (responsive logo for mobile) -->
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>